<div class = "container">
  <div class="wrapper">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <figure class="card">
            <%= image_tag "#{cocktail.name.downcase}.jpg", alt: "alttext" %>
            <figcaption><%= link_to cocktail.name, cocktail_path(cocktail) %></figcaption>
        </figure>
      <% end %>
    </div>
  </div>
</div>
