<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail.id), class: 'btn btn-primary' %></h5>
          <p class="card-text"><%= cocktail.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
