<div id="hero">
  <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>

  <div class="caption">
    <h1>The Cocktail Experience</h1>
    <h2>Live every hour like it’s happy hour</h2>
  </div>

</div>

<%= render 'card' %>
