<%= render 'shared/navbar' %>
<div id="hero">
  <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>

  <div class="caption">
    <p>________________________________</p>
    <h1 class="hero-h1">The Cocktail Experience</h1>
    <h2 class="hero-h2">Living every hour like it’s happy hour</h2>
    <p class="underscore-flip">________________________________</p>
  </div>

</div>

<br>
<!-- <form onsubmit="event.preventDefault();" role="search">
  <label for="search">Search</label>
  <input id="search" type="search" placeholder="Search..." autofocus required />
  <button type="submit">Go</button>
</form> -->
<h1 class="drinks-header">THE SIGNATURES</h1>
<p class="caption underscore-flip">_______________________________________________________________________________________________</p>
<%= render 'card' %>
<%= render 'shared/footer' %>
