<div id="hero">
  <%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>

  <div class="caption">
    <h1>The Cocktail Experience</h1>
    <h2>Live every hour like it’s happy hour</h2>
  </div>

</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h5>
          <p class="card-text"><%= cocktail.description %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
