@import "navbar_fixed";

.left-column {
  width: 50%;
  float: left;
  text-align: center;
}

.right-column {
  width: 40%;
  float: right;
}

hr {
  border-color: white;
}

.show-cards .card {
  margin: 20px;
  width: 280px;
  height: 370px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.show-cards .card img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}
