@import "navbar_fixed";

.left-column {
  width: 40%;
  float: left;
  text-align: center;
}

.right-column {
  width: 55%;
  float: right;
}

hr {
  border-color: white;
}

.button-container {
  position: relative;
}

.button-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.show-cards .card {
  margin: 20px;
  width: 280px;
  height: 370px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.show-cards .card img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .left-column,
  .right-column {
    width: 100%;
  }
}
