<div class="container">
  <h2>Add your ingredients</h2>

  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.input :ingredient_id, collection: Ingredient.order(:name) %>
    <%= f.input :description, label: 'Add the quantity', as: :text%>
    <%= f.submit "Add ingredients", value: 'Add', class: "btn btn-primary"%>
  <% end %>
</div>
