<div class="container">
  <h2>Create a dose</h2>

  <%= simple_form_for([@cocktail, @dose]) do |f| %>
      <%= f.association :alcohol %>
      <%= f.input :description %>
      <%= f.submit "Add an ingredient", class: "btn btn-primary"%>
  <% end %>
</div>
