.navbar-lewagon {
  justify-content: space-between;
  background: #1E3231;
  z-index: 20;
  font-family: 'Oswald', sans-serif;
  color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
