// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero::after {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
}

.home_video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 5;
}

.caption {
  position: relative;
  z-index: 20;
  text-align: center;
  color: white;
}

#hero .caption h1 {
  text-transform: uppercase;
  font-size: 2em;
  margin-bottom: 0.5rem;
  font-family: 'Oswald', sans-serif;

}

#hero .caption h2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

@media screen and (min-width:768px)
{
  #hero .caption h1 {
    font-size: 2.5rem;
  }

  #hero .caption h2 {
    font-size: 1.75rem;
  }
}

@media screen and (min-width:992px)
{
  #hero .caption h1 {
    font-size: 3rem;
  }

  #hero .caption h2 {
    font-size: 2rem;
  }
}

@media screen and (min-width:1200px)
{
  #hero .caption h1 {
    font-size: 5rem;
  }

  #hero .caption h2 {
    font-size: 3rem;
  }
}
